CVS/
/.makelib/
/objects.*/
/lib.*/
/bin.*/
/include/
/msvc2005/
/msvc2008/
/rlogind/
/rshd/
/old/
_grstate
.created
.unpacked*
__libtool__.lnk
Makefile
*.cache
*.exe
*.dll
*.pdb
*.obj
*.cm
*.bak
*.err
.#*
